<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Performance Pro - All your records in one place</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" title="Favicon"/>
    <style>
        body {
            background-color: #ffffff;
            color: #333333;
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 20% 10%;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>You are already logged in</h1>
    <p>Try logging out from the active session.</p>
</body>
</html>
